/node_modules
/build
/dist
/out
/coverage
npm-debug.log
.yarn-integrity

.DS_Store
.idea/
.vscode/
*.swp

.env
.env.local
.env.*.local

*.json
serviceAccountKey.json

firebase-debug.log
firebase-key.json